:root{   
  --amarillo: #fcba05;
  --negro: #2e2e2e;
  --blanco: #f6f6f6;
  --transparente: #36363691;
  --transparente_II: #00000000;
}
body{
    width: 100%;
    height: 100%;

    background-image: url(./img/wll4.gif);
    
    display: grid;
    place-items: center; 
}
main{
    width: 30%;
    background-color: var(--transparente);
    border-radius: 1em;
    
    padding: 1em 2em ;
    display: flex;
    flex-direction: column;

    color: var(--blanco);
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: var(--amarillo);
    font-family: 'Times New Roman', Times, serif;
    margin: 0em 0em 1em 0em;

    animation: blink 1s infinite;

    text-align: center;
}

@keyframes blink {
    0% {
        opacity: 1;
        color: #fc0505;    
    }
    25%{
        opacity: 1;
        color: rgb(212, 180, 0);
    }
    50% {
        opacity: 2;
        color: rgb(0, 255, 55);
    }
    75%{
        opacity: 1;
        color: rgb(0, 127, 212);
    }
    100% {
        opacity: 1;
        color: rgb(212, 0, 99);
    }
}

.txt__game{
    margin: 0em 0em 2em 0em;
}
.form__btn{
    width: 100%;
    margin: 1em 0em;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/*
-----------------------------------------------------------------------------------------------------INPUT
*/
.inp__txtbox{
    background-color: var(--transparente_II);
    border: none;
    border-bottom: 1px solid var(--blanco);
    outline: none;
    width: 5em;

    padding: 1px 5px ;
    color: var(--blanco);
    
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}
/*
-----------------------------------------------------------------------------------------------------BTN
*/
.btn__send{
    width: 40%;
    padding: 5px 0px;
    color: var(--amarillo);
    background-color: var(--transparente);
    
    border: 1px  dotted var(--amarillo);
    border-radius: 1em;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    transition-duration: 0.5s;
}

.btn__send:hover{
    background-color: var(--amarillo);
    color: var(--negro);

}


.btn__reset{
    width: 40%;
    padding: 5px 0px;
    color: var(--amarillo);
    background-color: var(--transparente);
    
    border: 1px  dotted var(--amarillo);
    border-radius: 1em;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    transition-duration: 0.5s;
}

.btn__reset:hover{
    background-color: var(--amarillo);
    color: var(--negro);

}

.btn__reward{
    width: 100%;
    padding: 5px 0px;
    color: var(--blanco);
    background-color: var(--transparente_I);
   /* border: 2px  dotted var(--blanco);
    */border-radius: 1em;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    transition-duration: 0.5s;

    animation: bg-blink 1s infinite;
}

@keyframes bg-blink {
    0% {
        opacity: 1;
        color: rgb(252, 5, 5);  
        border: 2px  dotted rgb(252, 5, 5);  
    }
    25%{
        opacity: 1;
        color: rgb(212, 180, 0);
        border: 2px  dotted rgb(212, 180, 0); 
    }
    50% {
        opacity: 1;
        color: rgb(0, 255, 55);
        border: 2px  dotted rgb(0, 255, 55); 
    }
    75%{
        opacity: 1;
        color: rgb(0, 127, 212);
        border: 2px  dotted rgb(0, 127, 212); 
    }
    100% {
        opacity: 1;
        color: rgb(212, 0, 99);
        border: 2px  dotted rgb(212, 0, 99); 
    }
}

.btn__reward:hover{
    background-color: var(--blanco);
    color: var(--negro);
}
/*
----------------------------------------------------------------------------------------------premio
*/
section{
    width: 30%;
    height: 17em;
    background-color: var(--transparente_II);
    border-radius: 1em;
    
    padding: 1em 2em ;
    margin: 2em 0em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reward{
    width: 100%;
    height: 17em;

    border-radius: 1em;
}